// ---------------------VARIABLES------------------------------------------------------
// Variables COULEURS
$color-background: #eee;
$color-grey-elements: #eee;
$color-background-header:#0c6588;
$color-background-menu:#e2f7ff;
$color-background-main:#fff;
$color-background-footer:#333;
$color-titles:#333;
$color-text:#555;
$color-text-header:#e2f7ff;
$color-text-footer:#ddd;
$color-buttons-links:#0c6588;
$color-buttons-hover:#000;
$color-links-footer:#eee;

// Variables FONT
$font-default:Open Sans;
$font-titles:Raleway;

// Variables GENERALES
$max-width-container:1140px;
$font-size-default:1.5rem;
$font-size-titles-1:3.6rem;
$font-size-titles-2:2.4rem;
$font-size-titles-3:1.8rem;
$line-height:2.0rem;

// Variables BORDERS
$border-sm:1px solid #eee;
$border-md:1px solid #ddd;
$border-lg:2px solid #ccc;

// Variables SHADOWS
$shadows-sm:0 0 1px rgba(0, 0, 0, 0.2);
$shadows-md:0 0 3px rgba(0, 0, 0, 0.3);
$shadows-lg:0 0 5px rgba(0, 0, 0, 0.4);
$shadows-xl:0 10px 20px rgba(0, 0, 0, 0.5);

// ---------------------MIXIN------------------------------------------------------
// ---------------------CODE------------------------------------------------------
body {
    margin: auto;
    max-width: $max-width-container;
}
